# https://editorconfig.org
#
# Copyright 2013-2019, High Fidelity, Inc.
# Copyright 2022 Overte e.V.
# SPDX-License-Identifier: Apache-2.0

root = true

# 4-space indentation
[*]
indent_style = space
indent_size = 4
