body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container {
    margin-bottom: 10px;

    .content {
        .type {
            display: grid;
            grid-template-columns: 1fr 3fr 1fr;
            grid-template-rows: 1fr 1fr;
            width: 100%;

            span {
                margin: 0 10px;
            }

            .header {
                grid-column-start: 1;
                grid-column-end: 3;
            }

            .type-value {
                text-align: center;
            }

            input {
                width: 100%;
                grid-column-start: 1;
                grid-column-end: 3;
            }
        }
    }
}

.container:last-child {
    margin-bottom: 0;
}

.horizontal-button-container {
    margin-top: 10px;

    button:focus{
        outline: 0;
    }
}
