[Unit]
Description=Assignment client service for the Overte server
After=network.target
PartOf=overte-server.target

[Service]
Restart=always

WorkingDirectory=/opt/overte
Environment="LD_LIBRARY_PATH=/opt/overte/lib"
User=overte
Group=overte
#LimitCORE=infinity
#ExecStart=/opt/overte/assignment-client -n 6
ExecStart=/opt/overte/assignment-client --min 6 --max 20

[Install]
WantedBy=multi-user.target
