[Unit]
Description=Domain Server service for Overte
After=network.target
PartOf=overte-server@%i.target

[Service]
Restart=on-failure

WorkingDirectory=/opt/overte
EnvironmentFile=/etc/opt/overte/%i.conf
Environment="LD_LIBRARY_PATH=/opt/overte/lib" "HOME=/var/lib/overte/%i"
PrivateTmp=true
User=overte
Group=overte
#LimitCORE=infinity
ExecStart=/opt/overte/domain-server

[Install]
WantedBy=multi-user.target
