[Unit]
Description=Overte virtual domain
Wants=overte-assignment-client.service
Wants=overte-domain-server.service
#Wants=overte-ice-server.service
After=overte-assignment-client.service
After=overte-domain-server.service
#After=overte-ice-server.service

[Install]
WantedBy=multi-user.target
